include version.txt
include README.md
include requirements.txt
include LICENSE
include INTRODUCTION.md
include CONTRIBUTING.md
include src/hana_ai/vectorstore/knowledge_base/python_knowledge/*
include src/hana_ai/vectorstore/knowledge_base/sql_knowledge/*
include src/hana_ai/agents/scenario_knowledge_base/*
include src/hana_ai/iagents/skills.md
